

h1 {
  color: pink;
  font-family: sans-serif;
}

.gradient-box {
  background-color: skyblue;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+39,89c3eb+64,89c3eb+64,d5ebfb+95 */
background: #ebf1f6; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ebf1f6 0%, #abd3ee 39%, #89c3eb 64%, #89c3eb 64%, #d5ebfb 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ebf1f6 0%,#abd3ee 39%,#89c3eb 64%,#89c3eb 64%,#d5ebfb 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ebf1f6 0%,#abd3ee 39%,#89c3eb 64%,#89c3eb 64%,#d5ebfb 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 300px;
  height: 150px;
  border-radius: 20px;

}

body, * {
  box-sizing:border-box;
  --favorite: goldenrod;
}

.clear {
  clear: both;
}

#wrapper {
  background-color: gray;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: var(--favorite, gray);
  height: 100px;
}

nav {
  background-color: lightblue;
  height: 50px;
}

main {
  background-color: white;
  width: 960px;
}

footer {
  background-color: var(--favorite, gray);
  height: 100px;
}

aside {
  background-color: blue;
  width: 300px;
  min-height: 400px;
  float: left;
}

section {
  background-color: thistle;
  width: 660px;
  min-height: 400px;
  float: left;
  position: relative;
}
